<div class="note">

  <ul>
    <li class="note-head">
      <H4 class="note-title">
        <%= note.name %>
      </H4>
    </li>
    <li class="note-body">
      <p class="note-contents">
        <%= note.contents %>
      </p>
    </li>
  </ul>
</div>