<div class="corona-board">
  <h3 class="text-center noteboard-header">
    Notifications
  </h3>
  <div id="notes">
    <% if policy(Note).create? %>
      <div id="new-note-form">
        <%= link_to "new note", new_note_path(corona: true), id: "new-note-button", remote: true, class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render notes, container: true %>
  </div>
</div>
