<!--<div class="row">-->
  <%#= @agent.content %>
<!--  <div id="eetlijst-frame">-->
<!--    <object type='text/html' id='eetlijst-object' data="http://www.eetlijst.nl" >-->
<!--    </object>-->
<!--  </div>-->
<!--</div>-->
