<div class='cell'><div class="cell-contents draggable room-task <%= (!!room_task && room_task.room.current_tenant == current_user) ? "active" : nil %>">
  <div class="task-who"><%= room_task.who %></div>
  <div class="drag-space task-drag"></div>
</div></div>
