<div class="noteboard col-md-4">
  <h3 class="text-center noteboard-header">
    Notifications
  </h3>
  <div class="well">
    <div class="notes">
      <% render @notes %>
    </div>
    <%= button_to "new note", new_note_path, id: "new-note-button", remote: true, class: 'btn btn-primary', method: :get %>
  </div>
</div>
