<% container = true unless defined? container %>
<% if container %><div id="new-option"><% end %>
<%= simple_form_for @option, url: @option.persisted? ? list_option_path(option.list, option) : list_options_path(list), remote: true, html: { id: "option-form-#{list.id}" } do |f| %>
  <%= f.input :name, label: false,  placeholder: "name" %>
  <%= f.submit :submit, class: 'btn' %>
<% end %>
<% if container %></div><% end %>
