<div class="voteable">
  <div class="upvote">
    <%= link_to upvote_path, class: 'vote', remote: true %>
  </div>
  <div class="downvote">
    <%= link_to downvote_path, class: 'vote', remote: true %>
  </div>
</div>
