#eetlijst-frame {
  overflow: hidden;
  width: 1200px;
  position: relative;
  height: 700px;
  left: -1px;
}

#eetlijst-object {
  overflow: auto;
  border: 5px ridge blue;
  position: absolute;
  width: 100%;
  left: 50%;
  height: 700px;
  transform: translateX(-50%);
}