// Place all the styles related to the options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-item {
  @include flex-row-out;
  width: 100%;
  heigth: 100%;

  .name {
    margin: auto;
  };

  .delete-button {
    heigth: 100%;
  };
};
