// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title {
  background-image: image_url('crooked-board.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  display: inline-block;
}