// Place all the styles related to the votes_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.voting-container {
  display: inline-block;
  position: relative;
  width: 100%;

  .voteable {
    display: inline-block;
    position: relative;
    left: 0;
    width: fit-content;
    top: 50%;
    transform: translate(0, -50%);
  }

  .vote-total {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  };

  .votes {
    display: inline-block;
    height: 100%;

    i {
      color: gray;
    };

    .upvote.voted i {
      color: green;
    };

    .downvote.voted i {
      color: red;
    };
  };
};
