// Place all the styles related to the votes_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.voting-container {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;

  .voteable {
    flex-grow: 1;
    order: 3;
  }

  .vote-total {
    width: 3ch;
    text-align: end;
    order: 1;
  };

  .votes {
    display: inline-block;
    height: 100%;
    width: 2ch;
    text-align: center;
    order: 2;

    i {
      color: gray;
    };

    .upvote.voted i {
      color: green;
    };

    .downvote.voted i {
      color: red;
    };
  };
};
