.note {
  background-image: image_url('paper-note.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: calc(100% - 10px);
  padding: 10px;
  margin: 10px 5px;
  position: relative;
}

.pin {
  position: absolute;
  top: 2px;
  right: 2px;
  transition: transform 0.2s ease;

  &:hover {
    transform: translate(50%, -50%)
  }
}
