.noteboard {
  background-image: image_url('cork-board.jpg');
}

.noteboard-header {
  background-image: image_url('wood-board.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 15px 0;
}
